:root{
  --primary-color:#c6e8ff;
  --secondary-color: #F7F7F7;
  --std-color:#0A5B9C;
  --std-padding:0px 30px;
}

.main-page {
  background-image: url('/assests/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  padding:0px;
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100vh;
}
.purifier-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
  width:100%;
}
.purifier-gif {
  width: 100%; 
  max-width:60%; 
  aspect-ratio: 7 / 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.purifier-gif .purifier-img {
  background-image: url(/assests/images/FFDFDF.png);
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%; 
  height: 100%; 
  object-fit:fill; 
  padding:0px;
}
.purifier-gif .under-text{
  margin-left:550px;
  margin-top:-50px;
  color: var(--std-color);
  font-weight:1rem !important;
  font-weight: bold;
}
.entire-container{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width:100%;
  margin:auto;
  margin-top:-50px;
}
.purifier-carousel {
  max-width: 400px;
  height:auto;
  margin: auto;
}
.slick-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-carousel .slide-1,
.slick-carousel .slide-2,
.slick-carousel .slide-3,
.slick-carousel .slide-4 {
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}
.slick-carousel .slide-1 { background-image: url('/assests/images/main1.png'); }
.slick-carousel .slide-2 { background-image: url('/assests/images/product1.png'); }
.slick-carousel .slide-3 { background-image: url('/assests/images/purifierimage.png'); }
.slick-carousel .slide-4 { background-image: url('/assests/images/product3.png'); }
.main-page-cards .card {
  background:#e1f1fa; 
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  border:3px solid white;
}

.main-page-cards .card1{
  width:280px;
  height:250px;
  left:100px;
  top:-50px;
  padding: 15px;
  animation: moveToAndFro 2s infinite alternate;
}
/*animations for right-card*/
@keyframes moveToAndFro {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px); /* Move to the right */
  }
  100% {
    transform: translateX(0); /* Move back to the left */
  }
}
/*end for animations*/
.main-page-cards .card1 .img-fluid{
  max-width: 100%;
  height:auto;
  margin-left:50px;
}
.main-page-cards .card .p1{
  font-size: 1rem;
  font-weight: bold;
  margin-top:10px;
}
.main-page-cards .inner-container{
  width:100%;
  height:80%;
  background-color:var(--std-color);
  border-radius: 15px;
}
.main-page-cards .card-fade-carousel {
  width: 80%;
  height: 50%;
  border-radius: 20px;
}
.text-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}
.text-container .btn{
  display:none;
}
.bottom-card{
  display:flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  margin-top:-130px;
  margin-right:120px;
}
.bottom-card .card .btn{
  font-size:1rem;
  background-color:var(--std-color);
  border-radius:15px;
  padding-left:25px;
  padding-right:25px;
  text-align:center;
}
.bottom-card .card2{
  right:100px;
  border-radius:30px;
  background:#d8e1eb;
}
.bottom-card .p2{
  font-size: 0.75rem;
}
.bottom-card .shop-now{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shop-now p{
  font-size: 0.75rem;
  font-weight: bold;
}
.info-card {
  background: #e1f1fa; 
  border-radius: 15px; 
  padding:20px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  max-width: 300px;
  text-align:center;
  align-content: justify;
  border: 3px solid white;
  position:relative;
  top:50px;
  z-index:1;
  animation: moveUpAndDown 2s infinite alternate;
}
/*animations for left-card**/
@keyframes moveUpAndDown {
  0% {
    transform: translateY(0); /* Start at the original position */
  }
  50% {
    transform: translateY(-50px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move back down */
  }
}

.info-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: start;
  color: var(--std-color);
  font-weight: bold;
}

.info-card p {
  font-size: 0.85rem;
  text-align: start;
  color: #333; 
  line-height: 1.5;
  margin:0px;
}

.icon-circle1 {
  width: 30px;
  height: 30px; 
  background: #ffffff; 
  border: 2px solid var(--std-color); 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon-circle1 i {
  color:var(--std-color); 
  font-size: 0.9rem; 
}
.vectors{
  position:absolute;
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
  top:300px !important;
  gap:150px;
  z-index:0;
}

.vector-1 img,
.vector-2 img {
  width: 200px;
  height: 100px;
}
.know-more{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}


/* Responsive Design of main-page*/
@media (min-width:1550px){
  .entire-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:100%;
    margin:auto;
    margin-top:50px;
  }
}
@media (max-width: 1400px) {

  .purifier-gif .under-text{
    margin-left:400px;
    margin-top:-40px;
    color:var(--std-color);
    font-weight: bold;
    font-size: 0.75rem;
  }
  .text-container .btn{
    display:none;
  }
  .entire-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top:20px;
    width:100%;
  }
}
@media (max-width: 1200px) {
  .purifier-gif .under-text{
    margin-left:400px;
    margin-top:-40px;
    color: var(--std-color);
    font-weight: bold;
    font-size: 0.75rem;
  }
  .text-container .btn{
    display:none;
  }
  .entire-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-top:20px;
    width:80%;
  }
  .main-page-cards .card {
    background:#e1f1fa; 
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    border:3px solid white;
  }
  
  .main-page-cards .card1{
    width:280px;
    height:250px;
    left:100px;
    top:-50px;
    padding: 15px;
  }
  .main-page-cards .card1 .img-fluid{
    max-width: 100%;
    height:auto;
    margin-left:50px;
  }
  .main-page-cards .card .p1{
    font-size: 1rem;
    font-weight: bold;
    margin-top:10px;
  }
  .main-page-cards .inner-container{
    width:100%;
    height:80%;
    background-color:var(--std-color);
    border-radius: 15px;
  }
  .main-page-cards .card-fade-carousel {
    width: 80%;
    height: 50%;
    border-radius: 20px;
  }
  .vector-1 img,
  .vector-2 img {
    width: 150px;
    height: 70px;
  }
  
}
@media (max-width: 1024px) {
  .main-page{
    height:100vh;
  }
  .purifier-gif .under-text{
    margin-left:300px;
    font-size: 0.75rem;
    margin-top:-30px;
    color: var(--std-color);
    font-weight: bold;
  }
  .text-container .btn{
    display:none;
  }
 
}
@media (max-width:992px) {
  .main-page{
    height:100vh;
  }
  .purifier-gif .under-text{
    margin-left:300px;
    font-size: 0.75rem;
    margin-top:-30px;
    color:var(--std-color);
    font-weight: bold;
  }
  .text-container .btn{
    display:none;
  }
  
}
@media (max-width: 768px) {
  .main-page {
    padding: 0; 
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    overflow-y:hidden;
  }
  .purifier-gif {
    max-width: 100%;
    height:50%;
    margin-top:50px;
  }
  .purifier-gif .under-text{
    text-align: center !important;
    font-size: 0.75rem;
    margin-top:10px;
    color: var(--std-color);
    font-weight: bold;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    width: 100%; 
  }
  .entire-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    overflow-y:hidden;
  }
  .vectors{
    display:none;
  }
  .info-card {
    width:70vw;
    height: 20vh;
    align-content: justify;
    animation:none;
    position:static;
  }
  
  .info-card h3 {
    font-size: 0.75rem;
    text-align: start;
    color: var(--std-color);
    font-weight: bold;
  }
  
  .info-card p {
    font-size: 0.5rem;
    text-align:start;
    color: #333; 
    line-height: 1.5;
    margin:0px;
  }
  .info-card br {
     display:none;
  }
  
  .icon-circle1 {
    margin-right:20px; 
    width: 30px;
  }
  .purifier-carousel {
    max-width:300px;
    height:50vh;
    margin: auto;
  }
  .slick-carousel {
    height:auto;
  }
.slick-carousel .slide-1,
.slick-carousel .slide-2,
.slick-carousel .slide-3,
.slick-carousel .slide-4 {
  width: 80% !important;
  height: 25vh;
}
  .main-page-cards .card {
    border-radius: 20px;
    padding: 5px;
  }
  .main-page-cards .card1{
    width: 70vw;
    height: 20vh;
    left:0px !important;
    position:static;
    margin-top:-150px;
    animation:none;
  }
  .main-page-cards .card1 .img-fluid{
    width: 100% !important;
    height:14vh;
  }
  .main-page-cards .card .p1{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top:10px;
  }
  .main-page-cards .inner-container{
    width:100%;
    height:80%;
    background-color:var(--std-color);
    border-radius: 15px;
  }
  .main-page-cards .card-fade-carousel {
    width: 80%;
    height: 50vh;
    border-radius: 20px;
  }
  .bottom-card{
    display:none;
  }
  .text-container .btn{
    display: block !important;
    font-size:0.5rem;
    background-color:var(--std-color);
    border-radius:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
  }
}
@media (max-width: 576px) {
  .main-page {
    background-image: url('/assests/images/mobile-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: white;
    padding: 0; 
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
  }
  .purifier-gif {
    max-width: 100%;
    height:50%;
    margin-top:50px;
  }
  .purifier-gif .under-text{
    text-align: center !important;
    font-size: 0.75rem;
    margin-top:10px;
    width: 100%; 
  }
  .entire-container{
    margin-top:0px;
    height:50%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .vectors{
    display:none;
  }
  .info-card {
    width:70vw;
    height:20vh;
    align-content: justify;
    position:static;
  }
  
  .info-card h3 {
    font-size: 1rem;
    text-align: start;
    color: var(--std-color);
    font-weight: bold;
  }
  
  .info-card p {
    font-size: 0.75rem;
    text-align:start;
    color: #333; 
    line-height: 1.5;
    margin:0px;
  }
  .info-card br {
     display:none;
  }
  
  .icon-circle1 {
    margin-right:10px; 
    width: 30px;
  }
  .purifier-carousel {
    max-width:300px;
    height:50vh;
    margin: auto;
  }
  .slick-carousel {
    height:auto;
  }
.slick-carousel .slide-1,
.slick-carousel .slide-2,
.slick-carousel .slide-3,
.slick-carousel .slide-4 {
  width: 80% !important;
  height: 25vh;
}

  .main-page-cards .card {
    border-radius: 20px;
    padding: 5px;
  }
  .main-page-cards .card1{
    width: 70vw;
    height: 20vh;
    left:0px !important;
    position:static;
    margin-top:-150px;
  }
  .main-page-cards .card1 .img-fluid{
    width: 100% !important;
    height:14vh;
  }
  .main-page-cards .card .p1{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top:10px;
  }
  .main-page-cards .inner-container{
    width:100%;
    height:80%;
    background-color:var(--std-color);
    border-radius: 15px;
  }
  .main-page-cards .card-fade-carousel {
    width: 80%;
    height: 50vh;
    border-radius: 20px;
  }
  .bottom-card{
    display:none;
  }
  .text-container .btn{
    display: block !important;
    font-size:0.5rem;
    background-color:var(--std-color);
    border-radius:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:center;
  }
  
}

/*end of mainpage*/
.about {
 background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assests/images/aboutus-water.jpeg');
 background-repeat: no-repeat;
 background-position:top;
 border-radius: 70px;
  padding: 20px;
  overflow-x: hidden;
  margin-top:0px;
  margin-bottom:60px;
  position:relative;
  overflow:visible;
}
.arrow-container {
  position: absolute;
  top: -50px; /* Moves it above the container */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  width: 200px;  /* Increased width */
  height: 100px; /* Maintain 1:2 aspect ratio (height = width / 2) */
  border-top-left-radius: 100px; /* Half of width */
  border-top-right-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.about-icon-circle{
  flex-shrink: 0; /* Prevent shrinking */
  width: 60px;
  height:60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-icon-circle i {
  font-size: 1.5rem;
  color: #000;
}

.aboutus{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}
.about::before{
  background: rgb(216, 216, 216); 
}
h1 {
  padding-bottom:30px;
  font-weight: bold;
  color: #333;
}

.about p {
  line-height: 1.6;
  color: #555;
  text-align: justify;
  font-size:18px;
}

.img-fluid {
  max-width: 90%;
  height: auto;
  border-radius: 35px;
}
.about-left, .about-right{
  transform: translateX(0);
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.about-left{
  animation-name: slideInLeft;
}
.about-right{
  animation-name: slideInRight;
}
/*animations for about-section*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (min-width:1550px){
  h1 {
    font-weight: bold;
    color: #333;
  }
  .about p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
    font-size:25px;
  }
}
@media (max-width: 1400px){
  h1 {
    font-weight: bold;
    color: #333;
  }
  .about p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
    font-size:18px;
  }
  
  .about .img-fluid {
    max-width: 90%;
    height: auto;
    border-radius: 35px;
  }
}
@media (max-width:1200px){
  h1 {
    font-weight: bold;
    color: #333;
  }
  .about p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
    font-size:14px;
  }
  .about .img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 35px;
  }
}
@media (max-width:1024px){
  .arrow-container {
    width: 150px;  /* Increased width */
    height: 70px; /* Maintain 1:2 aspect ratio (height = width / 2) */
  }
  .about-icon-circle{
    flex-shrink: 0; /* Prevent shrinking */
    width: 40px;
    height:40px;
  }
  .about-icon-circle i {
    font-size: 1rem;
    color: #000;
  }
  h1 {
    font-weight: bold;
    color: #333;
    padding:0px;
  }
  .about p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
    font-size:0.9rem;
  }
  .about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
  }
}
@media (max-width:992px){
  h1 {
    font-weight: bold;
    color: #333;
  }
  .about p {
    line-height: 1.6;
    color: #555;
    text-align: justify;
    font-size:12px;
  }
  .about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
  }
}
@media (max-width:768px){
  .arrow-container {
    width: 100px;  /* Increased width */
    height: 50px; /* Maintain 1:2 aspect ratio (height = width / 2) */
    display:none;
  }
  .about-icon-circle{
    flex-shrink: 0; /* Prevent shrinking */
    width: 30px;
    height:30px;
    margin-top:5px;
  }
  
  .about-icon-circle i {
    font-size: 1rem;
    color: #000;
  }
  .about h1 {
    font-weight: bold;
    color: #333;
    text-align: center !important;
    font-size:1.5rem;
  }
  .about p {
    line-height: 1.5;
    color: #555;
    text-align: justify;
    font-size:0.75rem;
  }
  .about{
    border-radius:30px;
  }
  .about .img-fluid {
    max-width: 80%;
    height: auto;
    border-radius: 20px;
  }
  .about .col-md-6{
    padding:0px !important;

  }
}
@media (max-width:576px){
  .about h1 {
    font-weight: bold;
    color: #333;
    text-align: center !important;
    font-size:1.5rem;
  }
  .about p {
    line-height: 1.5;
    color: #555;
    text-align: justify;
    font-size:1rem;
  }
  .about{
    border-radius:30px;
  }
  .about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .about .col-md-6{
    padding:0px !important;

  }
}
@media (max-width:480px){
  .about h1 {
    font-weight: bold;
    color: #333;
    text-align: center !important;
    font-size:1.5rem;
  }
  .about p {
    line-height: 1.5;
    color: #555;
    text-align: justify;
    font-size:1rem;
  }
  .about{
    border-radius:30px;
  }
  .about .img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .about .col-md-6{
    padding:0px !important;

  }
}


/*choose us*/

.choose {
  text-align: center;
  justify-items: space-between;
  background:linear-gradient(#3896E1,#57BCF3,#1B77C1);
  color: white;
  padding: 40px;
  border-radius: 50px;
  width:80%;
  margin:auto;
  box-shadow:5px 5px 5px #57BCF3;
}
.choose-section{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-size: 1.8rem;
}

.choosey {
  flex: 1 1 200px;
  text-align: center;
  position: relative;
}

.choosey img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.choosey p {
  font-size: 1rem;
  margin: 0;
}

.choosey:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 0.5px;
  background-color: white;
}

@media (max-width: 768px) {
  .choose {
    border-radius:30px;
    padding-left:0px;
    padding-right:0px;
  }

  .choose h1 {
    font-size: 1rem;
  }

  .choosey img {
    width: 50px;
    height: 50px;
  }

  .choosey p {
    font-size: 0.75rem;
  }

  .choosey:not(:last-child)::after {
    height: 100%; /* Adjust for smaller screens */
  }
}
@media (max-width: 576px) {
  .choose {
    border-radius:30px;
    padding-left:0px;
    padding-right:0px;
  }

  h1 {
    font-size: 1rem;
  }

  .choosey img {
    width: 40px;
    height: 40px;
  }

  .choosey p {
    font-size: 0.75rem;
  }

  .choosey:not(:last-child)::after {
    height: 100%; /* Adjust for smaller screens */
  }
}
@media (max-width: 480px) {
  .choose {
    border-radius:30px;
    padding-left:0px;
    padding-right:0px;
  }

  h1 {
    font-size: 1rem;
  }

  .choosey img {
    width: 30px;
    height: 30px;
  }

  .choosey p {
    font-size: 0.3rem;
  }
  .choosey:not(:last-child)::after {
    height: 100%; /* Adjust for smaller screens */
  }
}

/*end*/
/*products*/
.products-overall {
  background-color: #DAF2FF;
  border-top-left-radius: 70px; 
  border-top-right-radius: 70px;
  padding-top:120px;
}
.products {
  text-align: center;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left:0px;
  padding-right:0px;
}

.products h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:center;
  gap: 10px; /* Spacing between cards */
}

.product-container .product-card {
  background: #fff;
  border-radius: 30px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 35px;
  width: 250px;
  text-align: center;
  position: relative;
  margin: 10px;
}

.bestseller {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #FFA500;
  color: #fff;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: bold;
}

.product-container .product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.product-container .product-card p {
  margin: 5px 0;
  font-size: 0.75rem !important;
}
.product-container .product-card span{
  font-size: 0.5rem;
}
 .product-card p:first-of-type {
  font-weight: bold;
  color: black;
}

 .product-card p:nth-of-type(2) {
  font-size: 0.9rem;
  color: black;
}

.btn-view {
  margin-top: 20px;
  background-color: #DAF2FF;
  border: 2px solid white;
  padding: 10px 40px;
}

.btn-view:hover {
  background-color: var(--secondary-color);
  color:var(--std-color);
}

/* Responsive Design */
@media (min-width:1550px){
  .product-container .product-card p {
    margin: 5px 0;
    font-size: 1rem !important;
  }
  .product-container .product-card span{
    font-size: 0.75rem;
  }
}
@media (max-width:1200px){
  .bestseller {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FFA500;
    color: #fff;
    padding: 5px 5px;
    font-size: 0.8rem;
    border-radius: 3px;
    font-weight: bold;
  }
  .products-down {
    font-size:1.3rem;
 }
}
@media (max-width:992px){
  .product-container .product-card p {
    margin: 5px 0;
    font-size: 0.5rem !important;
  }
  .product-container .product-card span{
    font-size: 0.5rem;
  }
  .products-down {
    font-size:1rem;
 }

}
@media (max-width: 768px) {
  .products-overall {
    background-color: #DAF2FF;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;
  }
  .products-overall .container-fluid{
    padding-left:0px;
    padding-right: 0px;
  }
  .product-container {
    flex-direction: row; /* Stack cards vertically on smaller screens */
    align-items: center;
    border-radius:30px;
  }
  .products h1{
    font-size: 1.5rem;
  }

  .product-container .product-card {
    width:50%; /* Full width for smaller screens */
    height:auto;
    margin:auto;
  }
  .product-container .product-card p {
    margin: 5px 0;
    font-size: 0.75rem !important;
  }
  .product-container .product-card span{
    font-size: 0.5rem;
  }
  .products p{
    font-size: 1rem !important;
  }
}
@media (max-width: 576px) {
  .products-overall {
    background-color: #DAF2FF;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;
    padding-top:120px;
  }
  .products-overall .container-fluid{
    padding-left:0px;
    padding-right: 0px;
  }
  .product-container {
    flex-direction: row; /* Stack cards vertically on smaller screens */
    align-items: center;
    border-radius:30px;
  }
  .products p{
    font-size: 1rem !important;
  }

  .product-container .product-card {
    width:100%; /* Full width for smaller screens */
  }
  .products-overall{
    padding-top:100px;
  }
  .product-container .product-card p {
    margin: 5px 0;
    font-size: 1rem !important;
  }
  .product-container .product-card span{
    font-size: 1rem;
  }
  .products p{
    font-size: 0.75rem !important;
  }
}
@media (max-width: 480px) {
  .products-overall {
    background-color: #DAF2FF;
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px;
    padding-top:120px;
  }
  .products-overall .container-fluid{
    padding-left:0px;
    padding-right: 0px;
  }
  .product-container {
    flex-direction: row; /* Stack cards vertically on smaller screens */
    align-items: center;
    border-radius:30px;
  }

  .product-container .product-card {
    width:100%; /* Full width for smaller screens */
  }
  .products-overall{
    padding-top:100px;
  }
  .product-container .product-card p {
    margin: 5px 0;
    font-size: 1rem !important;
  }
  .product-container .product-card span{
    font-size: 1rem;
  }
  .products p{
    font-size: 0.75rem !important;
  }
}

/*products down image*/
.product-down {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 55vh; /* Fixed height */
  background: linear-gradient(#1B77C1, #3CAEEC, var(--std-color));
  padding:0px !important;
}

/* Left Section */
.left-section {
  display: flex;
  flex: 7; /* Take up 80% of the space */
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Match container height */
}

.water-drop {
  top:0px;
  left:0px;
  right:0px;
  width: 100%;
  height: 100%; /* Fit the height of the container */
  object-fit:cover; /* Prevent overflow */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: start;
  color:var(--std-color);
  font-size: 1.3rem;
  line-height: 1.4;
}

/* Right Section */
.right-section {
  display: flex;
  flex: 5; /* Take up 40% of the space */
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px;
  color: white;
}

.right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.purifier-sec {
  text-align: center;
  flex: 1;
}

.water-machine {
  max-width: 100%;
  height: auto;
}

.features-section {
  flex: 1;
  padding: 20px;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 2;
}

.features li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.features span .icon {
  max-width: 50px;
  height: auto;
}
.flow-image{
  max-width:60%;
  height: 20px;
  margin-top:-70px;
  margin-left:50px;
}
/*animations of bubbles*/
.bubble-item {
  animation: bounce 2s ease-in-out infinite;
}

.bubble-item:nth-child(odd) {
  animation-duration: 2s;
}

.bubble-item:nth-child(even) {
  animation-duration: 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px); /* Moves the bubble upward */
  }
  100% {
    transform: translateY(0); /* Returns to original position */
  }
}
/* Responsive Design */
@media (max-width: 1024px) {
  .overlay-text {
    font-size: 1.2rem;
  }

  .features {
    font-size: 1rem;
  }

  .water-machine {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .bubbles-container {
    flex-direction: row !important; /* Ensure row layout on mobile */
    flex-wrap: nowrap; /* Prevent bubbles from stacking */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    justify-content: flex-start; /* Align bubbles to the left */
    padding: 10px;
    white-space: nowrap;
  }
  .overlay-text {
    text-align: center;
    font-size: 1.5rem;
  }
  .product-down{
    height:auto;
  }
  .flow-image{
    display:none;
  }
  .left-section {
    flex: unset;
    width: 100%;
    height: 40vh; /* Adjust height for smaller screens */
    text-align: center;
  }

  .overlay-text {
    font-size: 1.2rem;
  }

  .right-section {
    flex: unset;
    width: 100%;
  }
  .features li {
    justify-content:center;
    margin:0px;
  }
  .right-content {
    flex-direction:row;
    justify-content:center !important;
    align-items: center !important;
  }

  .purifier-sec {
    flex: unset;
  }

  .water-machine {
    max-width: 200px;
    margin: 0 auto;
  }

  .features {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .bubbles-container {
    flex-direction: row !important; /* Ensure row layout on mobile */
    flex-wrap: nowrap; /* Prevent bubbles from stacking */
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    justify-content: flex-start; /* Align bubbles to the left */
    padding: 10px;
    white-space: nowrap;
  }
  .overlay-text {
    text-align: center;
    font-size: 1.5rem;
  }
  .product-down{
    height:auto;
  }

  .left-section {
    flex: unset;
    width: 100%;
    height: 40vh; /* Adjust height for smaller screens */
    text-align: center;
  }

  .overlay-text {
    font-size: 1.2rem;
  }

  .right-section {
    flex: unset;
    width: 100%;
  }

  .right-content {
    flex-direction: column;
  }

  .purifier-sec {
    flex: unset;
  }

  .water-machine {
    max-width: 200px;
    margin: 0 auto;
  }

  .features {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .overlay-text {
    font-size: 1rem;
  }

  .product-down{
    height:auto;
  }

  .features {
    font-size: 0.9rem;
  }

  .water-machine {
    max-width: 150px;
  }

  .features-section {
    padding: 10px;
  }
}

/*our services*/

.services-section {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assests/images/services-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 0px;
  padding-top:0px;
  border-bottom-left-radius: 70px; 
  border-bottom-right-radius: 70px;
}

.services-title {
  font-size: 10rem;
  font-weight: bolder;
  color: black;
  position:absolute;
  z-index:10;
  top: 10px;
  opacity: 0.1;
}

.icon-circle {
  flex-shrink: 0; /* Prevent shrinking */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle i {
  font-size: 0.85rem;
  color: #000;
  transform: rotate(-45deg); 
  transition: transform 0.5s ease;
}
.icon-circle:hover i {
  transform: rotate(0deg); 
}
.text-section {
  position: relative;
  z-index: 2;
  top:50px;
}

.services-description {
  font-size: 1rem;
  color: black;
  margin-bottom:0px;
}

.services-list {
  list-style: none;
  padding: 0;
}
.entire-service{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
}
.entire-service .icon-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.entire-service .service-des p {
  font-size: 1.2rem;
  font-weight:500;
  color: var(--std-color);
  line-height: 1.6;
}

.services-list  .service-icon  {
  margin-right: 15px;
  max-width: 80px;
  height: auto;
}

.services-list .icon-circle {
  font-size: 1rem;
  color: var(--std-color);
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.water-glass {
  max-width: 100% !important;
  height: auto;
  margin-left:100px;
}

/* Responsive Design */
@media (min-width:1550px){
  .services-description {
    font-size: 1.5rem;
    color: black;
    margin-bottom:0px;
  }
  .entire-service .service-des p {
    font-size: 1.2rem;
    font-weight:500;
    color: var(--std-color);
    line-height: 1.6;
  }
}
@media (max-width: 1400px){
  .services-title {
    font-size: 8rem;
    top: 5px;
  }
}
@media (max-width: 1200px) {
  .services-title {
    font-size: 7rem;
    top: 5px;
    left: 30px;
  }

  .services-description {
    font-size: 1rem;
    margin-top:10px !important;
  }

  .services-list .service-des {
    font-size: 1rem;
    flex-wrap: wrap; 
  }

  .icon-circle {
    margin-left: 20px; 
  }

  .water-glass {
    max-width: 100%;
  }
  .services-list {
    list-style: none;
    padding: 0;
    margin-left:0px;
  }
  .services-list .service-des {
    font-size: 1rem;
    flex-wrap: wrap; 
  }
  .services-list .service-des p{
    margin:0px !important;
  }
}

@media (max-width: 1024px) {
  .services-title {
    font-size: 7rem;
    top: 5px;
    margin:0px;
  }
  .services-description p {
    font-size: 1rem;
    margin:0px !important;
  }
  .entire-service{
    padding-top:10px;
  }
  .entire-service .service-des p {
    font-size: 1rem;
    margin:0px;
  }
  
  .services-list  .service-icon  {
    max-width: 50px;
    height: auto;
  }
  
  .services-list .icon-circle {
    font-size: 1rem;
    color: var(--std-color);
  }

  .services-list .service-des {
    font-size: 1rem;
    flex-wrap: wrap; 
  }

  .icon-circle {
    margin-left: 20px; 
  }

  .water-glass {
   width: 100% !important;
  }
  .services-list {
    list-style: none;
    padding: 0;
    margin-left:0px;
  }
}

@media (max-width: 992px) {
  .services-title {
    font-size: 2.5rem;
    top: 5px;
    left: 30px;
  }

  .services-description {
    font-size: 1rem;
    margin-left: 20px; 
    margin-top:10px !important;
  }

  .services-list .service-des {
    font-size: 1rem;
    flex-wrap: wrap; 
  }

  .icon-circle {
    margin-left: 20px; 
  }

  .water-glass {
    max-width: 100%;
  }
  .services-list {
    list-style: none;
    padding: 0;
    margin-left:0px;
  }
}
@media (max-width: 768px) {
  .services-section {
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
  }
  .services-title {
    font-size: 2.5rem;
    top: 5px;
    text-align:center;
    align-content:center;
    margin:0px;
  }
  .services-description {
    font-size: 1rem;
    align-content:justify;
    text-align:center;
    margin-left:0px;
  }
  .text-section{
    top:0px;
  }
  .entire-service{
    padding-top:10px;
  }
  .entire-service .service-des p {
    font-size: 1rem;
  }
  
  .services-list  .service-icon  {
    max-width: 50px;
    height: auto;
  }
  
  .services-list .icon-circle {
    font-size: 1rem;
    color: var(--std-color);
  }

  .icon-circle {
    margin-left: 20px; 
  }

  .water-glass {
    max-width: 100%;
    padding:0px !important;
  }
  .services-list {
    list-style: none;
    padding: 0;
    margin-left:0px;
  }
}

@media (max-width: 576px) {
  .services-description {
    font-size: 1rem;
    margin-top:10px !important;
  }

  .services-list .service-des p {
    font-size: 0.9rem;
  }

  .icon-circle {
    margin-left: 15px; /* Further reduce spacing */
  }
  .services-list {
    list-style: none;
    padding: 0;
    margin-left:0px;
  }
  .service-icon .img-fluid{
    max-width:70%;
  }
}

/*product technology*/
.product-technology-section {
  background-color:white;
  padding: 40px 20px;
}

.flow-image .flow-img{
  border-radius: 0%;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}
.bubble-down{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-des {
  font-size: 1rem;
  color: black;
  line-height: 1.5;
  text-align: center;
}

.water-glasses {
  max-width: 85%; /* Decrease the size of the glasses */
  height: auto;
}

.bubbles-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.bubble-item {
  flex: 1;
  margin: 10px; /* Add spacing between bubbles */
}

.bubble-icon {
  max-width: 120px; /* Increase bubble size */
  height: auto;
}

.cta-title {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 15px;
}

.btn-buy-now {
  background-color: white;
  border: 1px solid var(--std-color);
  border-radius:10px !important;
  padding: 10px 40px;
  font-size: 1rem;
}

.btn-buy-now:hover {
  background-color:var(--std-color);
  color:white;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .water-glasses {
    max-width: 50%; /* Further reduce glass size */
  }

  .bubble-icon {
    max-width: 80px; /* Adjust bubble size */
  }

  .cta-title {
    font-size: 1.3rem;
  }

  .btn-buy-now {
    font-size: 0.9rem;
  }
  br{
    display:none;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 1.5rem;
  }
  .bubbles-row {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bubble-item {
    flex: 0 0 45%; /* Adjust bubble size on smaller screens */
    margin-bottom: 20px;
  }

  .water-glasses {
    max-width: 70%; /* Reduce glass size further */
  }

  .bubble-icon {
    max-width: 100%;
  }

  .cta-title {
    font-size: 1.2rem;
  }
  .section-des{
    font-size: 1rem;
    align-content: justify;
  }
  .section-des br{
    display: none;
  }
  .cta-title{
    text-align:center;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 1.5rem;
  }
  .water-glasses {
    max-width: 70%; /* Smallest glass size */
  }

  .bubble-icon {
    max-width: 100%; /* Smallest bubble size */
  }

  .cta-title {
    font-size: 1rem;
  }

  .btn-buy-now {
    font-size: 0.8rem;
    padding: 8px 16px;
  }
  .section-des{
    font-size: 1rem;
    align-content: justify;
  }
  .section-des br{
    display: none;
  }
}

/*our clients*/
.client-section {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/assests/images/mobile-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
}
.clients-title {
  font-size: 10rem;
  font-weight:bolder;
  color: black;
  top: 10px;
  z-index: 1;
  opacity: 0.1;
  margin-bottom:0px !important;
}
.section-description {
  font-size: 1rem;
  color:black;
  width:100%;
  margin-bottom:300px;
  line-height: 1.6;
}

.card-carousel {
  z-index:30px;
  margin-bottom:100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.slick-slide{
  margin-left:15px !important;
}

.slick-dots {
  position: absolute; /* Position the dots absolutely within the container */
  right:230px; /* Adjust this value to control how far from the left edge */
  top: 100%; /* Center the dots vertically within the section */
  transform: translateY(-50%); /* Adjust for proper centering */
  list-style: none; /* Remove default list styling */
  display: flex; /* Align dots vertically or horizontally as needed */
  flex-direction: row; /* Stack dots vertically */
}
.slick-dots li.slick-active {
  background-color: #0056a0; /* Active dot color (blue) */
  width: 40px; /* Make the active dot elongated */
  height:15px;
  border-radius: 20px; /* Elongate into an oval */
}


.card-carousel .card { /* 3 cards per row */
  background: #fff;
  top:0px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}


.card-carousel .card-body {
  text-align: center;
}
.hr-line{
  color:var(--std-color);
  font-weight: bolder;
  width:50px;
}

.card-carousel .client-image {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-left:0px;
}

.card-carousel .card h5 {
  font-size: 1.2rem;
  color: var(--std-color);
  margin-bottom: 10px;
}

.card-carousel .card p {
  font-size: 0.75rem;
  color: black;
  line-height: 1.5;
  text-align: start;
}

/* Responsive Design */
@media (max-width: 1400px){
  .clients-title {
    font-size: 8rem;
    top: 5px;
  }
}
@media (max-width: 1200px) {
  .clients-title {
    font-size: 7rem;
    top: 5px;
  }
  .section-description {
    font-size: 0.75rem;
    color:black;
    width:50%;
    margin-bottom:300px;
    line-height: 1.6;
  }
  .card-carousel {
    flex-wrap: wrap;
  }

  .card-carousel .card {
    flex: 0 0 calc(50% - 20px); /* 2 cards per row */
    margin-bottom: 20px;
  }
  .slick-dots {
    right: 180px; /* Adjust the position for smaller screens */
    top: 105%; /* Adjust spacing for better alignment */
    flex-direction: row; /* Keep dots in a row */
  }
}
@media (max-width:1024px){
    .clients-title {
      font-size: 7rem;
      top: 5px;
    }
    .section-description {
      font-size:0.75rem;
      width:100%;
    }
    .card-carousel {
      flex-wrap: wrap;
    }
  
    .card-carousel .card {
      flex: 0 0 calc(50% - 20px); /* 2 cards per row */
      margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
  .clients-title {
    font-size: 2.5rem;
    text-align: center;
    padding:0px;
  }
  .section-description {
    font-size: 0.75rem;
    color:black;
    width:auto;
    margin:auto;
    text-align: center;
  }
  .card-carousel {
    flex-wrap: wrap;
  }

  .card-carousel .card {
    flex: 0 0 calc(50% - 20px); /* 2 cards per row */
    margin-bottom: 20px;
  }
  .slick-dots {
    right: 180px; /* Adjust the position for smaller screens */
    flex-direction: row; /* Keep dots in a row */
  }
  .client-down{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }
  .client-down h3{
    font-size:1rem !important;
  }
  .client-down p{
    font-size:0.75rem !important;
  }

}

@media (max-width: 576px) {
  .card-carousel .card {
    flex: 0 0 100%; /* 1 card per row */
  }
  .clients-title {
    font-size: 2rem;
    margin-left:0px !important;
    padding:0px;
  }
  .section-description {
    font-size: 0.75rem;
    color:black;
    width:auto;
    margin:auto;
    line-height: 1.6;
  }
  .slick-dots {
    right: 100px; /* Further adjust the position */
    top: 110%; /* Additional spacing for smaller screens */
    flex-direction: column; /* Stack dots vertically for very small screens */
    gap: 10px; /* Space between dots when stacked */
  }
  .client-down{
    padding-top:0px !important;
    padding-bottom:0px !important;
  }
}

/*clients down section*/
.vertical-line {
  position: absolute;
  top: 0;
  right: 0;
  height:100%;
  width: 0.5px;
  background-color:var(--std-color);
}
.client-section-down{
  background-color: white;
  color:var(--std-color) !important;
}
/*animations for client-down-section*/
.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.client-down h3{
  font-size:1.5rem;
}
.client-down p{
  font-size: 1rem;
}
.row > .col-md-4:last-child .vertical-line {
  display: none; /* Hide the last vertical line */
}